.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

h1{
  font-size: 30px;
}

.mat-image {
  align-self: center;
  width: 350px;
}

.container {
  padding: 20px;
  align-items: center;
  text-align: center;
  align-content: center;
}

.responsive-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.example-card {
  height: 400px;
}

mat-card-actions {
  align-self: center;
}

mat-card-header {
  align-self: center;
}

.buttons {
  display: block;
  margin: auto;
}
