<div class="heading">
    <h1>Vehicle listings</h1>
</div>

<button mat-raised-button class="buttons" *ngIf="isLoggedIn()" color="primary" [routerLink]="['/vehicle/new']" title="New">Add New Listing</button>

<div class="container responsive-grid" *ngIf="vehicleList">
    <mat-card class="example-card" *ngFor="let vehicle of vehicleList">
        <mat-card-header>
            <mat-card-title>{{vehicle.make}}</mat-card-title>
            <mat-card-subtitle>Year: {{vehicle.year}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="mat-image" src={{vehicle.photo}} alt={{vehicle.make}}>
        <mat-card-content>
            <p>Model: {{vehicle.model}}</p>
            <p>Colour: {{vehicle.colour}}</p>
            <p>Price: ${{vehicle.price}}</p>
        </mat-card-content>
        <mat-card-actions class="container responsive-grid">
            <button mat-button [routerLink]='["/vehicle/", vehicle.vehicleId]'>VIEW</button>
        </mat-card-actions>
    </mat-card>
</div>

