<h1>Vehicle listings</h1>

<button mat-raised-button color="primary" [routerLink]="['/vehicle/new']" title="New">Add New Listing</button>

<div *ngIf="vehicleList">
    <mat-card class="example-card" *ngFor="let vehicle of vehicleList">
        <mat-card-header>
            <mat-card-title>{{vehicle.make}}</mat-card-title>
            <mat-card-subtitle>Year: {{vehicle.year}}</mat-card-subtitle>
        </mat-card-header>
        <img src="{{vehicle.photo}}">
        <mat-card-content>
            <p>Model: {{vehicle.model}}</p>
            <p>Colour: {{vehicle.colour}}</p>
            <p>Price: ${{vehicle.price}}</p>
            <p>Seller: {{vehicle.userId}}</p>
        </mat-card-content>
        <div class="nav-link active">
            <button mat-button [routerLink]='["/post", vehicle.vehicleId]'>EDIT</button>
            <button mat-button (click)="onDelete(vehicle.vehicleId!)">DELETE</button>
        </div>
    </mat-card>    
</div>

