<div class="container responsive-grid">
<h1>REGISTER</h1>
<form class="editForm" (ngSubmit)="signUp()">
    <div class="inputCSS">
    <label>First Name  </label>
    <input placeholder="Enter First Name" type="text" name="firstName" [(ngModel)]="newUser.FirstName"><br><br>
    <label>Last Name  </label>
    <input placeholder="Enter Last Name" type="text" name="lastName" [(ngModel)]="newUser.LastName"><br><br>
    <label>Email  </label>
    <input placeholder="Enter Email" type="text" name="Email" [(ngModel)]="newUser.email"><br><br>
    <label>Password  </label>
    <input placeholder="Enter Password" type="text" name="password" [(ngModel)]="newUser.Password"><br><br>
    <label>Bio  </label>
    <input placeholder="Enter bio" type="text" name="bio" [(ngModel)]="newUser.Bio"><br><br>
    <label>Country  </label>
    <input placeholder="Enter country" type="text" name="country" [(ngModel)]="newUser.Location"><br><br>
  </div>
    <button mat-button>
      SIGN UP
    </button>
</form>
</div>