.mat-image {
    align-self: center;
    width: 350px;
  }
  
  .container {
    align-items: center;
    text-align: center;
    align-content: center;
    width: 500px;
    margin: auto;
    padding-top: 50px;
}
  
  .responsive-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
  
  .example-card {
    height: 600px;
  }
  
  mat-card-actions {
    align-self: center;
  }
  
  .header {
    align-self: center;
  }
  
  .new {
    margin-left: 10px;
  }

  .example-card {
    height: 500px;
  }